.lista {
  font-size: 12px;
  font-style: normal;
  margin-left: 10px;
  padding: 8px;
}

.alerta,
.observatie,
.sarcina {
  font-size: 16px;
  padding: 10px;
}

.example-button-row{
    text-align: center;
}

.example-button-row .mat-button-base {
  margin: 10px;
}

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}