<mat-toolbar class="navbar-content">
  <div class="left-menu-items">
    <a routerLink="/">
      <mat-icon class="home-icon" aria-hidden="false">home</mat-icon></a
    >
  </div>

  <div class="center-menu-items navbar-link">
    <a mat-button routerLink="/vanzari">Vanzari </a>
    <a mat-button routerLink="/colectari">Colectari</a>
    <a mat-button routerLink="/observatii">Observatii</a>
    <a mat-button routerLink="/adauga-companie">Adauga companie</a>
    <a mat-button routerLink="/activitate">Activitate</a>
    <a mat-button routerLink="/mesaje">Mesaje</a>
    <a mat-button href="http://portal.just.ro/SitePages/acasa.aspx" target="_blank"
      >Portal Judecatorie</a
    >
  </div>

  <div class="right-menu-items">
    <input class="search-from-navbar" placeholder="Cauta..." type="text" />
  </div>
</mat-toolbar>
