.navbar-content {
  background: #055875;
  color: white;
  z-index: 2;
  position: sticky;
  top: 0px;
  width: 100%;
}

.left-menu-items {
  justify-content: left;
}

.center-menu-items {
  margin: auto;
}

.right-menu-items {
  justify-content: right;
  display: contents;
}

.home-icon {
  color: white;
  vertical-align: middle; 
}

.search-from-navbar {
  display: block;
  margin-left: 2%;
  width: 10%;
  height: 20%;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #11cdef;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-from-navbar:focus {
  border-color: rgba(50, 151, 211, 0.25);
  outline: 0;
  box-shadow: none, none;
}

.search-from-navbar::placeholder {
  color: white;
  opacity: 1;
}

.mat-tab-group {
  margin-bottom: 48px;
  position: absolute;
  top: 80px;
  right: 0;
  width: 600px;
  height: 380px;
  border: 3px solid #eff0ede1;
}
