.log-in{
    width: 35%;
    position: relative;
    margin:auto;
    position: relative;
}
/* card fiind tot chenaru */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box
}
.bg-secondary {
    background-color: #f7fafc!important
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15)!important
}
.border-0 {
    border: 0!important
}
.card-body {
    padding: 1.5rem;
    flex: 1 1 auto
}
.px-lg-5 {
    padding-right: 3rem!important
}
.px-lg-5 {
    padding-left: 3rem!important
}
.py-lg-5 {
    padding-bottom: 3rem!important
}
.py-lg-5 {
    padding-top: 3rem!important
}
.text-center {
    text-align: center!important;
    
}
.text-muted {
/*  */
}
.mb-4{
    margin-bottom: 1.5rem!important
}
.form-group {
    margin-bottom: 1.5rem
}
.mb-3{
    margin-bottom: 1rem!important
}
.input-group {
    transition: all .15s ease;
    border-radius: .375rem;
    box-shadow: none;
    margin-right: 0;
    transform: translateY(0);
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}
.input-group-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02)
}
.input-group-prepend {
    display: flex;
    margin-right: -1px;
}
.input-group-text{
    margin-left: -1px;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}
/* username si parola */
.form-control {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    font-size: .875rem;
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: .625rem 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .375rem
}

.btn-primary {
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}
.my-4 {
    margin-top: 1.5rem
}
.my-4{
    margin-bottom: 1.5rem
}