<div style="margin:0px;height: 93%;">
    <div class="row" style="height: 50%;margin:0px;">
        <div class="col-md-4 info-view-container" style="height:100%;">
            <h4>Detalii client</h4>
            <p>HEADER:VALUE</p>
            <div style="width: 100%;" style="overflow:auto;height: 90%;">
                <div class="vertical-form">
                    <label for="firstname1">Nume</label>
                    <input id="firstname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="lastname1">CUI</label>
                    <input id="lastname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="firstname1">Cod fiscal</label>
                    <input id="firstname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="lastname1">Telefon</label>
                    <input id="lastname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="firstname1">Fax</label>
                    <input id="firstname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="lastname1">Sediu</label>
                    <input id="lastname1" type="text" pInputText> 
                </div>
                <div class="vertical-form">
                    <label for="lastname1">Cont bancar  </label>
                    <input id="lastname1" type="text" pInputText> 
                </div>
            </div>
        </div>
        <div class="col-md-4 info-view-container">
            <div class="info-header">
                <div class="row">
                    <h5 class="col-md-10">Stadiu proiect</h5>
                    <div class="col-md-2">
                        <button 
                            (click)="onEditProjectStageStatus()" 
                            pButton type="button" 
                            icon="pi pi-pencil" 
                            class="p-button-secondary mid-round-btn">
                        </button>
                    </div>           
                </div> 
            </div>
            <div class="info-content">
                <div class="row sm-row-spacing info-height">
                    <div class="col-md-6">
                        <div class="float-free-right">Stadiu proiect</div>
                    </div>            
                    <div class="col-md-6 no-padding">
                        <input
                            *ngIf="editModeProjectStage;else projectStageVal" 
                            type="text" 
                            [(ngModel)]="projectStageState.projectStage" 
                            class="small-input-field">                               
                        <ng-template #projectStageVal>
                            <div class="txt-value-style">{{projectStageState.projectStage}}</div>
                        </ng-template>                      
                    </div>
                </div>
                <div class="row sm-row-spacing info-height">
                    <div class="col-md-6">
                        <div class="float-free-right">Numar contract</div>
                    </div>            
                    <div class="col-md-6 no-padding">
                        <input
                            *ngIf="editModeProjectStage;else contractNumberVal" 
                            type="text" 
                            [(ngModel)]="projectStageState.contractNumber" 
                            class="small-input-field">                               
                        <ng-template #contractNumberVal>
                            <div class="txt-value-style">{{projectStageState.contractNumber}}</div>
                        </ng-template>                      
                    </div>
                </div>

                <div class="row sm-row-spacing info-height">
                    <div class="col-md-6">
                        <div class="float-free-right">Administrare</div>
                    </div>            
                    <div class="col-md-6 no-padding">
                        <p-inputSwitch  
                            styleClass='{p-focus:false}'
                            *ngIf="editModeProjectStage;else isAdministratedVal"
                            [(ngModel)]="projectStageState.isAdministrated">
                        </p-inputSwitch>                              
                        <ng-template #isAdministratedVal>
                            <div class="txt-value-style">{{projectStageState.isAdministrated}}</div>
                        </ng-template>                      
                    </div>
                </div>
            </div>
            <div class="info-footer">
                <div *ngIf="editModeProjectStage" class="float-free-right">
                    <button 
                        pButton type="button" (click)="onCancelNewProjectState()"                     
                        icon="pi pi-times" class="mid-round-btn p-button-danger p-button-outlined">
                    </button>
                    <button
                        pButton type="button" (click)="onSaveProjectStageStatus()"
                        icon="pi pi-check" class="mid-round-btn p-button-success p-button-outlined">
                    </button>
                </div>     
            </div>          
            
            <!-- <div class="row">
                <div class="col-md-6" style="margin-right: 0px;">
                    <label  style="float: right;">Data semnare acord de lucru</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="small-input-field" placeholder="Small">      
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">Data semnare contract</label>
                </div>
                <div class="col-md-8">
                    <input id="lastname1" type="text" pInputText> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">Administrare</label>
                </div>
                <div class="col-md-8">
                    <p-inputSwitch [(ngModel)]="isAdministrare"></p-inputSwitch>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">Acord de lucru</label>
                </div>
                <div class="col-md-8">
                    <p-inputSwitch [(ngModel)]="isAcordDeLucru"></p-inputSwitch>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">Data semnare acord de lucru</label>
                </div>
                <div class="col-md-8">
                    <input id="lastname1" type="text" pInputText> 

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">numar acord</label>
                </div>
                <div class="col-md-8">
                    <input id="lastname1" type="text" pInputText> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="lastname1">Perioada acord</label>
                </div>
                <div class="col-md-8">
                    <ocean-dropdown 
                        [items]="timeScales" 
                        [(selectedItem)]="selectedTime"
                        (selectedItemChange)="onSelectTimeRange($event)"
                ></ocean-dropdown>{{selectedTime.label}}
                </div>
            </div> -->

        </div>
        <div class="col-md-4" style="overflow:auto">
            <h4>Documente</h4>
            <ocean-accordion [items]="contactPersons"></ocean-accordion>
        </div>
    </div>
    <div class="row" style="height: 50%;margin:0px;">
        <div class="col-md-4" style="overflow:auto;">
            <h4>Persone de contact</h4>
            <ocean-accordion [items]="contactPersons"></ocean-accordion>
        </div>
        <div class="col-md-4" style="overflow:auto">
            <h4>Discutii cu clientul</h4>
            <ocean-accordion [items]="contactPersons"></ocean-accordion>
        </div>
        <div class="col-md-4" style="overflow:auto">
            <h4>Stadiu debitori</h4>
            <ocean-accordion [items]="contactPersons"></ocean-accordion>
        </div>
    </div>
</div>
