<div class="log-in-page-container">
  <div class="log-in-form">
    <div class="log-in-card-body">
      <div class="log-in-headline">
        <h3>Autentificare</h3>
      </div>
      <form>
        <div class="log-in-input-field-conatiner">
          <input
            class="log-in-input-field"
            [(ngModel)]="login.email"
            name="email"
            placeholder="Email"
            type="email"
          />
        </div>
        <div class="log-in-input-field-conatiner">
          <input
            class="log-in-input-field"
            [(ngModel)]="login.password"
            name="pass"
            placeholder="Parola"
            type="password"
          />
        </div>
        <button
          type="button"
          class="log-in-button"
          (click)="conecting()"
        >
          Conectare
        </button>
      </form>
    </div>
  </div>
</div>
