<div class="register">
    <div class="register-head"> Inregistrare </div>
    <br />
    <br />
    <div class="register-body">
        <!-- first and last name -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="firstname">Nume </label>
                <input [(ngModel)]="user.firstname" id="firstname" type="text" pInputText>
            </div>
            <div class="p-field p-col">
                <label for="lastname">Prenume</label>
                <input [(ngModel)]="user.lastname" id="lastname" type="text" pInputText>
            </div>
        </div>
        <br />
        <!-- email -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="Email">E-mail </label>
                <input [(ngModel)]="user.email" id="email" type="text" pInputText>
            </div>
            <!-- username -->
            <div class="p-field p-col">
                <label for="Username">Nume Utilizator</label>
                <input [(ngModel)]="user.email" id="username" type="text" pInputText>
            </div>
        </div>
        <br />
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
        <!-- password -->
        <div class="first">Parola</div>
        <input [(ngModel)]="user.password" pPassword type="password" />
            </div>    
        <!-- roles -->
        <div class="p-field p-col">
        <div class="first">
            <label>Rol Utilizator</label>
            <p-dropdown [options]="roles" [(ngModel)]="selectedRole" placeholder="selecteaza" optionLabel="name"
                [(ngModel)]="user.role" [showClear]="true"></p-dropdown>
            <br />
            </div>
        </div>
    </div>
            <!-- submit button -->
            <p-button class="submit-button" (click)="save()" label="Adauga"></p-button>
   
        
    </div>
</div>