<div class="register">
    <div class="register-head"> Inregistrare </div>
    <div class="register-body">
        <!-- first and last name -->
        <div class="register-inputs">
            <div class="register-body-firstname">
                <label class="spaces" for="firstname">Nume </label>
                <input [(ngModel)]="user.firstname" id="firstname" type="text" pInputText>
            </div>
            <div class="register-body-lastname">
                <label class="spaces" for="lastname">Prenume</label>
                <input [(ngModel)]="user.lastname" id="lastname" type="text" pInputText>
            </div>
        </div>
        <!-- email -->
     
        <div class="register-inputs">
            <div class="register-body-email">
                <label class="spaces" for="Email">E-mail </label>
                <input [(ngModel)]="user.email" id="email" type="text" pInputText>
            </div>
            <!-- username -->
            <div class="register-body-username">
                <label class="spaces" for="Username">Nume Utilizator</label>
                <input [disabled]="true" [(ngModel)]="user.email" id="username" type="text" pInputText>
            </div>
        </div>
       <div class="register-inputs">
            <div class="register-body-password">
                <!-- password -->
                <div class="first">Parola</div>
                    <input [(ngModel)]="user.password" pPassword type="password" />
            </div>
            <!-- roles -->
            <div class="register-body-roles">
                <label class="spaces">Rol Utilizator</label>
                <p-dropdown [options]="roles" placeholder="selecteaza" optionLabel="name"
                    [(ngModel)]="user.role"></p-dropdown>
            </div>
        </div>
      
        <div>
            <!-- submit button -->
            <button type="button" class="log-in-button" (click)="save()">Adauga</button>
        </div>
    </div>
</div>
