.register{
    margin:auto;
    width: 50%;
    font-weight: 500;
    border: 2px solid;
    border-radius: 10px;
    border:20%;
    padding: 20px; 
    
}
.register-head{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.register-body{
    margin-left:20%;
   
}
.spaces{
  display:block;
}
.register-inputs{
    display:flex;
    padding-bottom: 20px;
}
.register-body-firstname{
    float: left;
    display:block;
}
.register-body-lastname{
    float:right;
    padding-left:50px;
    
}
.register-body-email{
    float: left;
}
.register-body-username{
    float:right;
    padding-left:50px;
}
.register-body-password{
    float: left;
}
.register-body-roles{
    float:right;
    display: block;
    padding-left:50px;
}

.register-body-roles .p-dropdown .pi-times:before{
    content:none;
 }
 