html, 
body{ 
    height: 100%;
}
body{
     margin: 0;
}
body,
button,
input{ 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.navbar-content,
.search-from-navbar,
.btn-primary
{
    background-color: #248498;
}

.btn-primary{
    border-color:#226170;
}
/* autentification message from card log-in */
.text-muted{
    color: #248498;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus,
.btn-primary:hover{
    background-color: #226170;
}