<!-- <ngb-tabset [justify]="'fill'" class="sales-tab custom-tab-content flex-column flex-md-row" type="pills"> 
    <ngb-tab>
      <ng-template ngbTabTitle>
         Alerte
      </ng-template>
        <ng-template ngbTabContent>
          <div *ngFor="let alert of alerts;let i = index">
            <ocean-note        
              [title]="alert.title"
              [textContent]="alert.textContent">
            </ocean-note>
          </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
         Observatii
      </ng-template>
        <ng-template ngbTabContent>
          <div *ngFor="let observation of observations;let i = index">
            <ocean-note
              [backgroundColor]="'#cfc'"        
              [title]="observation.title"
              [textContent]="observation.textContent">
            </ocean-note>
          </div>
        </ng-template>
    </ngb-tab>
  </ngb-tabset>
  -->